body {
  text-align: center;
  background-color: #a9efc0;
}

h1 {
  font-size: 5rem;
  color: #5bc0e1;
  font-family: cursive;
  text-shadow: 3px 0 #2aac02;

}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #f37ccf;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #7868f1;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: rgb(228, 241, 146);
}
